---
layout: default
title: Homepage
menu: index
---


<div class="container">

	{% include page-title.html title="BCG DV – Manhatan Beach Challenge – Reduce parking by 20%" %}

	<div class="row row-cards">

		<div class="col-lg-6">
			{% include cards/development-activity.html %}
			{% comment %}{% include cards/tasks.html %}{% endcomment %}
		</div>

		<div class="col-md-6">

			<div class="row">
				<div class="col-sm-6">
					{% include cards/chart.html height=12 title="Challenge participant" id="chart-donut" data="donut" %}
				</div>
				<div class="col-sm-6">
					{% include cards/chart.html height=12 title="Modal split" id="chart-pie" data="pie" %}
				</div>
				<div class="col-sm-6">
					{% include cards/digit.html color="red" title="New feedback submissions" digit="62" width="28%" %}
				</div>
				<div class="col-sm-6">
					{% include cards/digit.html color="green" title="Savings today" digit="$645" width="84%" %}
				</div>
			</div>
		</div>
	</div>
</div>
