<div class="card">
	<div class="card-header">
		<h3 class="card-title">Challenge activity</h3>
	</div>
	<div id="chart-development-activity" style="height: 10rem"></div>
	<div class="table-responsive">
		<table class="table card-table table-striped table-vcenter">
			<thead>
			<tr>
				<th colspan="2">Username</th>
				<th>Points</th>
				<th>Last update</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="w-1"><span class="avatar" style="background-image: url({{ site.base }}/{{ site.data.users[10].photo }})"></span></td>
				<td>{{ site.data.users[10].name }} {{ site.data.users[10].surname }}</td>
				<td>900</td>
				<td class="text-nowrap">April 14, 2018</td>
			</tr>
			<tr>
				<td><span class="avatar">BM</span></td>
				<td>{{ site.data.users[17].name }} {{ site.data.users[17].surname }}</td>
				<td>750</td>
				<td class="text-nowrap">April 12, 2018</td>
			</tr>
			<tr>
				<td><span class="avatar" style="background-image: url({{ site.base }}/{{ site.data.users[16].photo }})"></span></td>
				<td>{{ site.data.users[16].name }} {{ site.data.users[16].surname }}</td>
				<td>450</td>
				<td class="text-nowrap">April 10, 2018</td>
			</tr>
			<tr>
				<td><span class="avatar" style="background-image: url({{ site.base }}/{{ site.data.users[12].photo }})"></span></td>
				<td>{{ site.data.users[12].name }} {{ site.data.users[12].surname }}</td>
				<td>350</td>
				<td class="text-nowrap">April 8, 2018</td>
			</tr>
			<tr>
				<td><span class="avatar" style="background-image: url({{ site.base }}/{{ site.data.users[19].photo }})"></span></td>
				<td>{{ site.data.users[19].name }} {{ site.data.users[19].surname }}</td>
				<td>200</td>
				<td class="text-nowrap">April 9, 2018</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

{% include js-charts.html id="chart-development-activity" data="development-activity" %}
